/* Button general styles */

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80px;
}

.button:hover {
    background-color: #48964b;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 10px 60px 0 rgba(0,0,0,0.19);
}

button[disabled] {
    background-color: #ccc;
}

button[disabled]:hover {
    background-color: #ccc;
    box-shadow: none;
}

